name: Changesets
on:
  push:
    branches:
      - master
env:
  CI: true

jobs:
  version:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for OIDC publishing
      contents: write # Required for changesets to push version commit
      pull-requests: write # Required for changesets to create PRs
    steps:
      - name: Checkout code repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Setup node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'

      - name: Install latest npm
        run: npm install -g npm@latest

      - name: Install dependencies
        run: npm install --ignore-scripts

      - name: Build monorepo
        run: npm run build --if-present

      - name: Update and publish versions
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba # v1.5.3
        with:
          version: npm run ci:version
          commit: "chore: update versions"
          title: "chore: update versions"
          publish: npm run ci:publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ""
          NPM_CONFIG_PROVENANCE: true
